
body {
  background-color: #fff;
  color: #283d3b;
  margin: 0 auto 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1920px;
}

.header_card {
  margin-bottom: 100px;
  width: 400px;
  height: 504px;
  border-radius: 10px;
  background-image: url("imgs/escape.png");
  background-size: cover;
  position: absolute;
}
   
h1 {
  margin: auto;
  font-family: 'Silkscreen', cursive;
  font-size: 90px;
  font-weight: 800;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite;
}
   
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 0.8;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.6em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'Roboto Mono', monospace;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2;

}

a:link {
  color: #307351;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: #307351;
  text-decoration: none;
}

a:hover {
  color: #307351;
  text-decoration: none;
  
}

a:active {

  text-decoration: none;
  font-weight: 400;
}



/* top nav starts */
.topnav {
  margin: 80px 80px 0px 80px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.topnav_left {
  flex: auto;
}

.topnav_right {
  flex: end;
}

.topnav_item {
  float: left;
  color: #283d3b;
  padding: 0px;
  text-decoration: none;
  font-weight: 500;
}

.topnav a {
  float: left;
  color: #307351;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}


/* page content */

.content {
  margin-bottom: 40px;
}

.flex_column {
  margin: 100px 100px 40px 100px;
  display: column;
}

.flex_column_small {
  margin: 100px 300px 40px 300px;
  display: column;
}

.flex_row {
  margin: 100px 300px 40px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  gap: 50px;
}

.flex_item_left_small {
  flex: 30%;
}

.flex_item_left_big {
  flex: 70%;
}

.flex_item_right_small {
  flex: 30%;
}

.flex_item_right_big {
  flex: 70%;
}

.flex_item_right_big img {
  width: 100%;
}

.flex_item_left_big img {
  width: 100%;
}

.anim {
  margin-bottom: 100px;
}

img {
  width: 100%;
}

.img_small {
  width: 70%;
  margin: auto;
}

/* footer */
.footer_one {
  padding: 80px 100px 100px 100px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #171717;
}

.footer_left {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.footer_card {
  padding: 30px 0 0 0;
  flex-direction: column;
  width: 33.3%;
}

.footer_card img {
  width: 100%;
  border-radius: 10px;
  
}

.footer_card p {
  font-size: 13px;
  line-height: normal;
}

.footer_right {
  display: flex;
  flex-direction: column;
}

.footer_right p {
  font-size: 10px;
}

.footer_two {
  margin: 100px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

/* Responsive Videos */
.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* breakpoints starts */
@media only screen and (max-width: 600px) {

  body {
    background-color: #fff;
    color: #283d3b;
    margin: 0 auto 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.2;
  }

  .topnav {
    margin: 50px 20px 0px 20px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  .topnav_item {
    float: left;
    padding: 0px 0px 20px 0px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .topnav a {
    float: left;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    text-align: right;
  }

  h1 {
      font-size: 40px;
  }

  h2 {
      font-size: 35px;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
  }

  .flex_column {
      display: flex-column;
      margin: 50px 20px 15px 20px;
  }

  .flex_column_small {
    display: flex-column;
    margin: 50px 20px 15px 20px;
  }

  .flex_row {
      margin: 70px 20px 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
  }

  .flex_item_left_small {
    width: 100%;
    align-items: left;
  }

  .flex_item_right_small {
    width: 100%;
    align-items: left;
    order: 1;
  }

  .flex_item_left_big {
    width: 100%;
    order: 2;
  }

  .flex_item_right_big {
    width: 100%;
  }

  .footer_one {
    padding: 20px 20px 20px 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171717;
  }

  .footer_left {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  .footer_card {
    padding: 12px 0 0 0;
    flex-direction: column;
    width: 100%;
  }

  .footer_two {
    margin: 20px;
  }
}

@media (min-width: 601px) and (max-width: 758px) {

  body {
    background-color: #fff;
    color: #283d3b;
    margin: 0 auto 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .topnav {
    margin: 50px 40px 0px 40px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 23px;
  }

  p {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
  }

  .flex_column {
    display: flex-column;
    margin: 50px 60px 15px 60px;
  }

  .flex_column_small {
    display: flex-column;
    margin: 50px 60px 15px 60px;
  }

  .flex_row {
    margin: 100px 60px 45px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .flex_item_left_small {
    width: 100%;
    align-items: left;
  }

  .flex_item_right_small {
    width: 100%;
    align-items: left;
    order: 1;
  }

  .flex_item_left_big {
    width: 100%;
    order: 2;
  }

  .flex_item_right_big {
    width: 100%;
  }

  .footer_one {
    padding: 40px 60px 60px 60px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171717;
  }

  .footer_left {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  .footer_card {
    padding: 20px 0 0 0;
    flex-direction: column;
    width: 100%;
  }

  .footer_two {
    margin: 60px;
  }

}

@media (min-width: 759px) and (max-width: 992px) {
  body {
    background-color: #fff;
    color: #283d3b;
    margin: 0 auto 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.2;
  }
  
  
  .topnav {
    margin: 70px 50px 0px 50px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
  }

  .flex_column {
    display: flex-column;
    margin: 70px 70px 15px 70px;
  }

  .flex_column_small {
    display: flex-column;
    margin: 70px 100px 15px 100px;
  }

  .flex_row {
    margin: 200px 70px 0px 70px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .flex_item_left_small {
    width: 100%;
    hyphens: auto;
  }

  .flex_item_right_small {
    width: 100%;
    hyphens: auto;
  }

  .flex_item_left_big {
    width: 100%;
  }

  .flex_item_right_big {
    width: 100%;
  }

  .footer_one {
    padding: 60px 70px 70px 70px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171717;
  }

  .footer_left {
    gap: 50px;
  }

  .footer_card {
    padding: 20px 0 0 0;
  }

  .footer_two {
    margin: 70px;
  }
}